@charset "UTF-8";

:root{
    --cor-primaria: #FFFFFF;
    --cor-secudaria: #4a4d53ec;
    --cor-vermelha: #8E2424;
    --cor-de-fundo-leve:#F9F4F4;
    --cor-cinza: #667085;
    --cor-gray: #101828;
    --font-primaria: Arial, Helvetica, sans-serif;
    --font-inter: "Inder", sans-serif;
}
.cabecalho{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.cabecalho__img{
    padding-left: 4em;
    padding-right: 4em;
}
.cabecalho__nave{
    margin-right: auto;
}
.cabecalho__item{
    text-decoration: none;
    font-family: var(--font-primaria);
    color: var(--cor-secudaria);
    padding: 1em;
}
.botao{
    background-color: var(--cor-vermelha);
    color: var(--cor-primaria);
    border-radius: 8px;
}
.cabecalho__nave__cadastro{
    padding-right: 3em;
}
.conteudo__sobre__nos{
    text-align: center;
    width: 57vw;
    margin: auto;
    padding: 96px 0;
}
.conteudo__titulo__negrito{
    color: var(--cor-vermelha);
    font-family: var(--font-inter);
    font-weight: 600;
    padding-bottom: 36px;
}
.conteudo__titulo{
    font-size: 32px;
    font-family: var(--font-inter);
    font-weight: 600;
    padding-bottom: 36px;
}
.conteudo__texto{
    font-size: 18px;
    font-family: var(--font-inter);
    color: var(--cor-cinza);
    line-height: 1.5em;
}
.conteudo__dados{
    display: flex;
    justify-content: center;
    padding-bottom: 192px;
}
.conteudo__dados__coteiner{
    width: 16vw;
    padding-right: 32px;
}
.conteudo__intem{
    padding-bottom: 12px;
}
.conteudo__numeros{
    color: var(--cor-vermelha);
    font-weight: 600;
    font-family: var(--font-inter);
    font-size: 44px;
}
.conteudo__titulo__dados{
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-gray);
}
.conteudo__dados__texto{
    color: var(--cor-cinza);
    font-size: 16px;
}
.conteudo__vagas{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.conteudo__vagas__negrito{
    color: var(--cor-vermelha);
    font-family: var(--font-inter);
    background-color:var(--cor-de-fundo-leve);
    border-radius: 8px;
    width: 7.5vw;
    padding: 0.5em;
}
.conteudo__vagas__titulo{
    color: var(--cor-gray);
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 20px;
}
.conteudo__vagas__texto{
    font-family: var(--font-inter);
    color: var(--cor-cinza);
    font-size: 20px;
    padding-bottom: 64px;
}
.conteudo__vagas__imagens{
    padding-bottom: 64px;
    width: 90vw;
}
.conteudo__design{
    width: 55vw;
    margin: auto;
    padding-bottom: 64px;
}
.conteudo__design__Titulo{
    padding-bottom: 32px;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 20px;
}
.conteudo__design__profisao{
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.089);
    margin-bottom: 24px;
}
.conteudo__design__profisao__salario{
    display: flex;
    gap: 24px;
}
.conteudo__profisao__titulo{
    color: var(--cor-gray);
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 32px;
}
.conteudo__profisao__texto{
    font-family: var(--font-inter);
    color: var(--cor-cinza);
}
.conteudo__colaboradoes{
    margin-top: 92px;
    width: 100vw;
    margin: auto;
    margin-bottom: 96px;
}
.conteudo__colaboradoes__container{
    background-color: var(--cor-de-fundo-leve);
    width: 85vw;
    margin: auto;
    padding: 64px 0px 64px 0px;
}
.conteudo__colaboradoes__titulo{
    color: var(--cor-vermelha);
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    padding-bottom: 16px;
}
.conteudo__colaboradoes__texto{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 36px;
    color: var(--cor-gray);
    text-align: center;
    padding: 0px 63px 32px 63px;
}
.conteudo__colaboradoes__imagem{
    display: block;
    margin: auto;
    padding-bottom: 16px;
}
.conteudo__colaboradoes__dev__nome{
    text-align: center;
    font-family: var(--font-inter);
    color: var(--cor-gray);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 8px;
}
.conteudo__colaboradoes__dev{
    text-align: center;
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-cinza);
}
.rodape{
    display: flex;
    flex-flow: column ;
    align-items: center;
}
.rodape__titulo{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 20px;
}
.rodape__texto{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 40px;
    color: var(--cor-cinza);
}
.rodape__form{
    padding-bottom: 32px;
}
.rodape__email::placeholder{
    padding-left: 1em;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
}
.rodape__email{
    width: 25vw;
    height: 48px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.178);
    margin-right: 16px;
}
.rodape__botao{
    height: 48px;
    width: 8.5vw;
    background-color: var(--cor-vermelha);
    color: var(--cor-primaria);
    border: none;
    border-radius: 8px;
    font-family: var(--font-inter);
    font-weight: 500;
    cursor: pointer;
}
.rodape__OptimusTech{
    font-family: var(--font-inter);
    font-weight: 400;
    color: var(--cor-cinza);
    padding-bottom: 96px;
}